{% extends 'base.html' %}
{% block content %}
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Munmud Url Shortner</h1>
            </div>
            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0 space-y-4">
                <div class="relative sm:mb-0 flex-grow w-full">
                    <form id="post-form" method="post">
                        <label for="full-name" class="leading-7 text-sm text-gray-400">Enter your Big Url Here</label>
                        {% csrf_token %}
                        <input type="text"
                               id="input"
                               name="link"
                               class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <input id="shorten"
                           type="submit"
                           value="Generate"
                           class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                </form>
            </div>
            <div class="container mx-auto p-6">
                <h1 class="text-2xl font-bold mb-6">URL List</h1>
                <table class="min-w-full bg-white border border-gray-200 rounded-lg">
                  <thead>
                    <tr>
                      <th class="py-2 px-4 border-b">UUID</th>
                      <th class="py-2 px-4 border-b">Link</th>
                      <th class="py-2 px-4 border-b">Visit_count</th>
                      <th class="py-2 px-4 border-b">Expire Date</th>
                      <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for url in urls %}
                      <tr>
                        <td class="py-2 px-4 border-b">{{ url.uuid }}</td>
                        <td class="py-2 px-4 border-b">{{ url.link }}</td>
                        <td class="py-2 px-4 border-b">{{ url.visit_count }}
                        <td class="py-2 px-4 border-b">{{ url.expire_date }}
                        <td class="py-2 px-4 border-b">
                          <a href="{% url 'url_edit' url.uuid %}" class="text-blue-500 hover:underline">Edit</a>
                          |
                          <a href="{% url 'url_delete' url.uuid %}" class="text-red-500 hover:underline">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </section>
{% endblock content %}
